rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite lectura pública (temporal)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}