rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /avatars/{uid}.jpg {
      // Puedes cambiar a "request.auth != null" si quieres que NO sea público
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
  }
}